body {
    background-color: #ffffff;
    font-family: 'Montserrat';
    font-size: 22px;
}

.container {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

@media (max-width: 767px) {
    .column {
        flex: 100%;
    }
}

h1 {
    color: #000000;
    font: Semi Bold 72px/88px Montserrat;
    letter-spacing: 0px;
}

p {
    text-align: left;
    font: Regular 32px/38px Montserrat;
    letter-spacing: 0px;
    color: #596474;
}

.message {
    margin: 16px;
}

.closed {
    width: 140px;
    background: #C62127 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    color: #ffffff;
}

.featured-image {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

img {
    max-width: 1025px;
    width: 100%;
    height: auto;
}